
#menu ul li{
  display: inline;
  cursor: pointer;
  padding:15px;
   
}

#menu ul li a{
     text-decoration:none; 
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.text-lg-center{
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
}